.u-section-1 .u-sheet-1 {
  min-height: 1187px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-text-1 {
  margin: 15px 0 60px;
}