.u-section-1 .u-sheet-1 {
  min-height: 826px;
}

.u-section-1 .u-image-1 {
  width: 528px;
  height: 687px;
  margin: 20px auto 0 -16px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: bold;
  margin: -687px 207px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 404px 0 546px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1rem;
  margin: 7px -29px 54px 546px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 679px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 345px;
    margin-left: 446px;
  }

  .u-section-1 .u-text-3 {
    margin-right: -318px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: -679px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 264px;
    margin-left: 336px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 155px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 198px;
    margin-left: 246px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 443px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -434px;
    margin-right: 98px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 125px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 146px;
  }
}