.u-section-1 .u-sheet-1 {
  min-height: 1246px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 0 auto 0 73px;
}

.u-section-1 .u-text-3 {
  margin: 0 92px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 20px 92px 0 73px;
}

.u-section-1 .u-text-5 {
  margin: 10px 92px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 20px 92px 0 73px;
}

.u-section-1 .u-text-7 {
  margin: 10px 92px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}